.space-left{
    margin-left: 20px;
}

#title-user{
    position: absolute; 
    width: 250px;
    right: 45%;
    left: 45%;
}

#title-user-inline{
    display: none;
}

@media only screen and (max-width: 1200px) {
    #title-user{
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    #title-user-inline{
        margin-top: 13px;
        margin-bottom: 13px;
        display: inline;
    }
    .space-left {
        margin-left: 0;
    }
}