<div *ngIf="view">
    <div class="mb-5">
        <h4 class="text-center">---</h4>
    </div>
    
    <div class="row justify-content-center popup-rettangle border rounded shadow mb-5">
        <div class="col-auto">
            <a class="text-center fw-bold text-login" routerLink="/home/login">{{ text }}</a>
            <button class="popup-button" routerLink="/home/login">Login</button>
        </div>
    </div>
    
    <div class="mb-5">
        <h4 class="text-center">---</h4>
    </div>
</div>