<div class="row mb-3">
    <h1 class="text-center">Modifica il film {{ modifyFilm.titolo }}</h1>
</div>
<div class="container border rounded shadow">
    <!-- INPUT INSERIMENTO CAMPI -->
    <div class="row justify-content-center">
        <div class="col-md-4 mt-3 mb-3" *ngIf="modifyFilm.locandina !== ''">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <p class="text-center"><b>Locandina:</b></p>
                    <img src="./assets/image/{{ modifyFilm.locandina }}" class="img-thumbnail film_image" alt="{{ modifyFilm.locandina }}">
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-3 mb-3">
            <!-- ERROR DIV -->
            <div *ngIf="errors.length > 0" class="row justify-content-center alert alert-danger" role="alert">
                <ul *ngFor="let error of errors">
                    <li>{{ error }}</li>
                </ul>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-6 mt-1">
                    <input [(ngModel)]="modifyFilm.titolo" id="titolo" name="titolo" type="text" class="form-control" placeholder="Modifica Titolo" value="{{ resetFilm.titolo }}">
                </div>
                <div class="col-lg-6 mt-1">
                    <select [(ngModel)]="modifyFilm.genere" class="form-control" name="genere_id" id="genere_id" value="{{ resetFilm.genere }}">
                        <option value="0" selected>Modifica Genere</option>
                        <option *ngFor="let genere of generi" value="{{ genere.id }}">{{ genere.tipo }}</option>
                    </select>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-4 mt-1">
                    <input [(ngModel)]="modifyFilm.durata" id="durata" name="durata" type="number" min="0" max="240" class="form-control" step="1" placeholder="Modifica Durata" value="{{ resetFilm.durata }}"/>
                </div>
                <div class="col-md-4 mt-1">
                    <input [(ngModel)]="modifyFilm.anno" id="anno" name="anno" type="number" min="1900" max="2099" class="form-control" step="1" placeholder="Modifica Anno" value="{{ resetFilm.anno }}"/>
                </div>
                <div class="col-md-4 mt-1">
                    <select [(ngModel)]="modifyFilm.valutazione" class="form-control" name="valutazione" id="valutazione" value="{{ resetFilm.valutazione }}">
                        <option value="0">Modifica Valutazione</option>
                        <option value="1">&hearts;</option>
                        <option value="2">&hearts;&hearts;</option>
                        <option value="3">&hearts;&hearts;&hearts;</option>
                        <option value="4">&hearts;&hearts;&hearts;&hearts;</option>
                        <option value="5">&hearts;&hearts;&hearts;&hearts;&hearts;</option>
                    </select>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-12 mt-1">
                    <label for=""><b>Trama</b></label>
                    <textarea [(ngModel)]="modifyFilm.trama" class="form-control" name="trama" id="trama" cols="30" rows="10"> {{ resetFilm.trama }} </textarea>
                </div>
            </div>
            <div class="row justify-content-between mt-3">
                <div class="col-md-6 mt-1">
                    <input [(ngModel)]="modifyFilm.trailer" id="trailer" name="trailer" type="text" class="form-control" placeholder="Modifica link del trailer da youtube" value="{{ resetFilm.trailer }}">
                </div>
                <div class="col-md-6 mt-1">
                    <input [(ngModel)]="modifyFilm.posizione" id="posizione" name="posizione" type="text" class="form-control" placeholder="Modifica nome del file con estensione .mp4" value="{{ resetFilm.posizione }}">
                </div>
            </div>

            <!-- UPLOAD FILE IMMAGINE -->
            <div class="row justify-content-center mt-3">
                <div class="row justify-content-center mt-2 mb-2">
                    <div class="col-lg-auto mt-1"><label for="file"><b>Upload Immagine Locandina formato .jpg</b></label></div>
                </div>
                <div class="col-lg-auto mt-1">
                    <input type="file" #fileLocandina class="form-control" id="file" name="file">
                </div>
                <div class="col-lg-auto mt-1">
                    <button class="btn btn-secondary" (fileLocandina)="''" (click)="deleteDataLocandina()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        Cancella Locandina
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- BUTTON GROUP SALVATAGGIO -->
    <div class="row justify-content-center mb-3 mt-3">
        <div class="col-md-auto">
            <button type="submit" class="btn btn-success w-100 mt-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                    <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                </svg>
                Salva
            </button>
        </div>
        <div class="col-md-auto">
            <button class="btn btn-danger w-100 mt-2" (click)="reset()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                    <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                </svg>
                Reset
            </button>
        </div>
    </div>

    <!-- POPUP DI CONFERMA -->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel2">SALVATAGGIO</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>"Sei sicuro di modificare?"</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">NO</button>
                <button type="submit" class="btn btn-success mx-1" data-bs-dismiss="modal" (click)="update(fileLocandina)">SI</button>
            </div>
        </div>
        </div>
    </div>
</div>
